<!DOCTYPE html>
<html>
<head>
  <title>Modificar semillero</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    form {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    label {
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    input[type="date"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }
    #semilla {
      width: 100%; /* Ocupar todo el ancho horizontal */
      font-size: 18px; /* Tama침o de fuente m치s grande */
      padding: 10px; /* A침adir espacio interno para mejorar el aspecto */
  }
  </style>
</head>
<body>
    <h1>Agregar Nuevo Semillero</h1>
    <form action="/agregar-semillero" method="post">
    <label for="id">ID:</label>
    <input type="number" id="id" name="id"  required>
    <br>
        <label for="semilla">Semilla:</label>
        <br>
        <select id="semilla" name="semilla">
          <option value="Tomate">Tomate</option>
          <option value="Col">Col</option>
          <option value="Sacha-Inchi">Sacha Inchi</option>
          <option value="Cacao">Cacao</option>
      </select>
      <br>
    <label for="description">Descripci칩n:</label>
    <textarea id="description" name="description" required></textarea>
    <br>
    <label for="id_gateway">Id de gateway asociado:</label>
    <input type="number" id="id_gateway" name="id_gateway"  required>
    <br>
    <label for="id_local">Id de red local:</label>
    <input type="number" id="id_local" name="id_local"  required>
    <br>
    <label for="fecha_inicio">Fecha de Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio"  required>
    <br>
        <button type="submit">Agregar Semillero</button>
      </form>
    <br>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
  <% } %>
</body>
</html>