<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obtener Últimos Datos</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/4.2.6/mqtt.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="registro">Registro</a></li>
        <li class="nav-item"><a href="#">Gráficas</a></li>
        <li class="nav-item"><a href="#">Selección</a></li>
        <li class="nav-item"><a href="#">Reporte</a></li>
        <form method="POST" action="/logout">
          <button type="submit">Cerrar sesión</button>
        </form>
      </ul>
    </nav>
    
    <h1>Dashboard</h1>
    <span>
      Elija un numero de semillero
      <input type="number" id="semillero" name="semillero" min="1" max="3" required
    /></span><br>
    <button class="my-button">Seleccionar semillero</button>
    <main>
      <div class="connection-status">
        <h3>Valores Actuales</h3>
      </div>
      <div class="insights">
        <div class="temperature">
          <div class="middle">
            <div class="left">
              <h3>Temperatura</h3>
              <h1 id="temperature"></h1>
            </div>
            <div class="icon">
              <span class="material-symbols-sharp"> device_thermostat </span>
            </div>
          </div>
        </div>
        <!-- End of temperature -->
        <div class="humidity">
          <div class="middle">
            <div class="left">
              <h3>Humedad Relativa</h3>
              <h1 id="humidity"></h1>
            </div>
            <div class="icon">
              <span class="material-symbols-sharp"> humidity_percentage </span>
            </div>
          </div>
        </div>
        <!-- End of humidity -->
        <div class="pressure">
          <div class="middle">
            <div class="left">
              <h3>Humedad de suelo</h3>
              <h1 id="pressure"></h1>
            </div>
            <div class="icon">
              <span class="material-symbols-sharp"> grass </span>
            </div>
          </div>
        </div>
        <!-- End of pressure -->
        <div class="altitude">
          <div class="middle">
            <div class="left">
              <h3>Luminosidad</h3>
              <h1 id="altitude"></h1>
            </div>
            <div class="icon">
              <span class="material-symbols-sharp">
                <span class="material-symbols-sharp"> wb_incandescent </span>
              </span>
            </div>
          </div>
        </div>
        <!-- End of altitude -->
      </div>
      <!-- End of Insights -->
      <div class="histories">
        <h2>Historical Charts</h2>
        <div class="history-charts">
          <div id="temperature-history" class="history-divs"></div>
          <div id="humidity-history" class="history-divs"></div>
          <div id="pressure-history" class="history-divs"></div>
          <div id="altitude-history" class="history-divs"></div>
        </div>
      </div>
    </main>
    
    <button id="obtenerDatos">Obtener Últimos 10 Datos de temperatura</button>
    <ul id="listaDatos"></ul>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
  </body>
</html>
