<!DOCTYPE html>
<html>
<head>
  <title>Modificar semillero</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    form {
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    label {
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    textarea,
    input[type="date"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
    }

    button[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Modificar Gateway</h1>
  <form action="/modificar-gateway/<%= gateways.id %>" method="post">
    <label for="longitud">Longitud:</label>
    <input type="text" id="longitud" name="longitud" value="<%= gateways.longitud %>" required>
    <br>
    <label for="latitud">Latitud:</label>
    <input type="text" id="latitud" name="latitud" value="<%= gateways.latitud %>" required>
    <br>
    
    <button type="submit">Guardar Cambios</button>
  </form>
</body>
</html>