<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="registro.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.6.0/math.js"></script>
  </head>
  <body>
    <div class="container">
      
      <aside>
        <div class="top">
          <div class="logo">
            <img src="logo.png" alt="" />
            <h2>Registro</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="main" >
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="gateway"  >
            <span class="material-symbols-sharp"> wifi </span>
            <h3>Nodos gateway</h3>
          </a>
          <a href="semilleros" >
            <span class="material-symbols-sharp"> eco </span>
            <h3>Semilleros</h3>
          </a>
          <a href="registro" class="active">
            <span class="material-symbols-sharp">bar_chart</span>
            <h3>Registro</h3>
          </a>
          
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <form method="POST" action="/logout">
              <button class="logout" type="submit">Cerrar sesión</button>
            </form>
          </a>
          <div class="seleccionsem">
            
            <form id="formularioRegistro">
                <h3>Seleccione restricciones</h3>
                <label for="id">ID de semillero:</label>
                <input type="number" id="id" name="id" required><br>

                <label for="fechaHoraInicio">Fecha y Hora de inicio:</label>
                <input type="datetime-local" id="fechaHoraInicio" name="fechaHora" required><br>
                
                <label for="fechaHoraFin">Fecha y Hora de fin:</label>
                <input type="datetime-local" id="fechaHoraFin" name="fechaHora" required><br>
            
                <input type="submit" value="Actualizar">
              </form>
          </div>
        </div>
        

      </aside>
      <main>
        <!-- End of Insights -->
        <div class="histories">
          <h2>Gráficas</h2>
          <div class="history-charts">
            <div id="temperature-history" class="history-divs"></div>
            <div id="humidity-history" class="history-divs"></div>
            <div id="pressure-history" class="history-divs"></div>
            <div id="altitude-history" class="history-divs"></div>
          </div>
        </div>
      
      </main>
      

    <script src="registro.js"></script>
  </body>
</html>
